<!DOCTYPE html>
<html>
    <head>
        <title>Rango - {{ category_name }}</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        <p>Back to <a href="/rango/" title="Home">Home</a></p>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}

            <p><a href="/rango/category/{{category.slug}}/add_page/" title="">Add page</a></p>
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}

    </body>
</html>
