<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        {% if pages %}
          <ul>
            {% for page in pages %}
            <li>{{ page.title }} - {{ page.views }} views</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>there are NO pages.</p>
        {% endif %}
        <p>hello world! <strong>{{ boldmessage }}</strong><br /></p>
        <p><a href="/rango/about/">About</a><br /></p>
        <img src="{% static "images/mudpuddle.png" %}" alt="">
    </body>

</html>
