{% extends "base.html" %}

{% load staticfiles %}

{% block body_block %}
  {% if user.is_authenticated %}
  <h1>Rango says... hello {{ user.username }}!</h1>
  {% else %}
  <h1>Rango says... hello world!</h1>
  {% endif %}

  {% if categories %}
    <h3>Categories</h3>
    <ul>
        {% for category in categories %}
        <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
  {% else %}
    <p><strong>There are no categories present.</strong></p>
  {% endif %}

  {% if pages %}
    <h3>Top 5 most viewed pages</h3>
    <ul>
      {% for page in pages %}
      <li>{{ page.title }} - {{ page.views }} views</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>there are NO pages.</p>
  {% endif %}
  <p> visits: {{ visits }}</p>
  <p>hello world! <strong>{{ boldmessage }}</strong><br /></p>

  <img src="{% static "images/mudpuddle.png" %}" alt="">
{% endblock body_block %}
