<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
  </head>
  <body>
    <div>
      <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
        <li><a href="/admin/" title="">Admin</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
      {% else %}
        <li><a href="{% url 'register' %}">Register Here</a></li>
        <li><a href="{% url 'user_login' %}">Login</a></li>
      {% endif %}
        <li><a href="/rango/" title="">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </div>
    <hr />
    <div>
      {% block body_block %}{% endblock %}
    </div>
  </body>
</html>
